importFrom(genefilter, rowSds)
importFrom(genefilter, rowttests)
importFrom(GeneMeta, zScoreFDR)
importFrom(RColorBrewer, brewer.pal)
importFrom(gplots, heatmap.2)
importFrom(impute, impute.knn)
exportPattern("^[[:alpha:]]+")


